services:
  app:
    build: .
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - demo-network
    logging:
      driver: loki
      options:
        loki-url: "http://loki:3100/loki/api/v1/push"

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    restart: unless-stopped
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - demo-network

  node-exporter:
    image: prom/node-exporter
    restart: unless-stopped
    pid: host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
    networks:
      - demo-network

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - demo-network

  loki:
    image: grafana/loki
    ports:
      - "3100:3100"
    restart: unless-stopped
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge
